body{
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


/*========= Hero Section Css====*/
 .nav_header{
   background: #FFF;
   overflow: hidden;
   padding: 25px 0px;
 } 
.container_custom {
    margin: auto;
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
} 

.logo_area {
  width: 50%;
  float: left;
  overflow: hidden;
}
.menu_area {
  width: 50%;
  float: left;
  overflow: hidden;
}
.menu_area ul {
  float: right;
}
.menu_area ul li {
  display: inline;
}
.menu_area ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 33px;
  color: #0F2137;
  margin-left: 48px;
  display: inline-block;
  border-bottom: 5px solid transparent;
  transition: 0.5s; 
}
.menu_area ul li a:hover{
  color: #28DCB2;
  transition: 0.5s;
  border-bottom: 5px solid #28DCB2;
}
/*====Hero  section =======*/ 

.hero_section{
  background: #FFF;
  padding-top: 90px;
  padding-bottom: 109px;
  overflow: hidden;
}
.hero_content {
  width: 50%;
  float: left;
  overflow: hidden;
  padding-right: 90px;
}
.hero_image {
  width: 50%;
  float: left;
  position: relative;
  z-index: 1;
}

.hero_image::after {
  position: absolute;
  content: "";
  width: 302px;
  height: 347px;
  background: url('../images/hero/hero-dot-overlay.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: -51px;
  right: -91px;
  z-index: -1;
}

.hero_content h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -1px;
  color: #02073E;
  padding-bottom: 19px;
}
.hero_content p {
  font-size: 18px;
  line-height: 42px;
  color: #02073E;
  padding-bottom: 47px;
}

.explore_button a {
  background: #28DDB2;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  padding: 25px 31px;
  display: inline-block;
  transition: 0.5s;
}
/*===== Button =========*/
.explore_button a:hover {
  background: #4F96FF;
  transition: 0.5s;
}

.explore_button {
  padding-bottom: 48px;
}
.client_logo ul li {
  display: inline;
}
.client_logo ul li a{
  margin-right: 28px;
  display: inline-block;
}
/*===== Button end =========*/
/*===== start unlimited_features======*/

.unlimited_features{
    padding-top: 70px;
    overflow: hidden;
    background: FFFFFF;
}
.container_custom{

}


.unlt_features_heading{
max-width: 583px;
width: 100%;
margin: auto;
}
.unlt_features_heading h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #0F2137;
}
.unlt_features_heading p{
 font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #0F2137;
    padding-top: 10px;
    padding-bottom: 90px;
}

/*====End unlt features_heading=====*/

/*====unlt_features_area=====*/

.unlt_features_area{
float: left;
    width: 22%;
    padding-bottom: 179px;
    margin-left: 34px;
}
.feature_logo {
padding-bottom: 39px;
}

.feature_logo a{
}

.feature_logo img{

}

.feature_contant{

}
.feature_contant h5{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #0F2137;
    padding-bottom: 25px;
}

.feature_contant p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #343D48;
}
/*====End unlt_features_area=====*/

/*========smart_section=========*/

.smart_section{
    overflow: hidden;
    background: #F9FAFC;
    padding-top: 104px;
    display: block;
}
.container_custom{

}
.smart_section_full_area{

}
.smart_box_area{
    float: left;
    width: 47%;
    margin-right: 10%;
}
/*========smart_single-iteam=========*/

.smart_single_area_1{
    float: left;
    width: 40%;
    padding-top: 70px;
    padding-bottom: 71px;
    margin-right: 20%;
    }

.smart_single_item_1{
  width: 276px;
  height: 320px;
  margin-bottom: 45px;
  background: #FFFFFF;
  box-shadow: 0px 25px 100px rgba(69, 88, 157, 0.08);
  border-radius: 10px;
  padding: 98px 61px 96px 61px;
}
.smart_single_item_1 h1{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -1.5px;
  padding-bottom: 17px;
       color: #28D1DC;
}
.smart_single_item_1 p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;


text-align: center;
letter-spacing: -0.2px;

color: #0F2137;

opacity: 0.7;
}


.smart_single_item_2{
  width: 276px;
  height: 320px;
  margin-bottom: 45px;
  background: #FFFFFF;
  box-shadow: 0px 25px 100px rgba(69, 88, 157, 0.08);
  border-radius: 10px;
  padding: 98px 61px 96px 61px;
}
.smart_single_item_2 h1{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -1.5px;

  padding-bottom: 17px;   
   color: #FA578E;
 
}
.smart_single_item_2 p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;
text-align: center;
letter-spacing: -0.2px;
color: #0F2137;
opacity: 0.7;
}


.smart_single_area_2{
    float: left;
    width: 40%;
}
.smart_single_item_3{
  width: 276px;
  height: 320px;
  margin-bottom: 45px;
  background: #FFFFFF;
  box-shadow: 0px 25px 100px rgba(69, 88, 157, 0.08);
  border-radius: 10px;
  padding: 98px 61px 96px 61px;
}
.smart_single_item_3 h1{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -1.5px;
  color: #FF753A;
  padding-bottom: 17px;
}
.smart_single_item_3 p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;

text-align: center;
letter-spacing: -0.2px;

color: #0F2137;

opacity: 0.7;
}


.smart_single_item_4{
    width: 276px;
    height: 320px;
    margin-bottom: 45px;
    background: #FFFFFF;
    box-shadow: 0px 25px 100px rgba(69, 88, 157, 0.08);
    border-radius: 10px;
    padding: 98px 61px 96px 61px;
}
.smart_single_item_4 h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #28DCB2;
}
.smart_single_item_4 p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #0F2137;
    opacity: 0.7;
    padding-top: 20px;
}

.smart_text_area{
    float: left;
    width: 39%;
    padding-top: 55px;
    overflow: hidden;
}
.smart_text_area_full{

}

.smart_text_area_full h1{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 60px;

letter-spacing: -1.5px;
padding-bottom: 30px;
color: #0F2137;

}
.smart_text_area_full p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
    color: #02073E;
}
.smart_check_area{
padding-top: 34px;
}
.smart_check_contant{

}
.smart_check_contant img{
float: left;
    overflow: hidden;
    margin-right: 10px;
    padding-top: 12px;
}
.smart_check_contant p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    color: #02073E;
}

.samrt_btn{
padding-top: 30px;
}

.samrt_btn a p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 42px;
color: #4F96FF;

}

/*======= start_talent_team=======*/

.talent_team{
overflow: hidden;
    display: block;
    margin-bottom: 140px;
}
.container_custom{

}
.talent_heading_area{
    padding-top: 100px;
    max-width: 622px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.talent_heading_area h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #0F2137;
    padding-bottom: 30px;
}
.talent_heading_area p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #0F2137;
    padding-bottom: 38px;
}
.talent_btn{

}

.talent_btn a p{
  text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 42px;
    color: #4F96FF;
}

.talent_video{
  width: 1082px;
  height: 608px;
  margin: auto;
  margin-top: 30px;
}
.talent_video video{
width: 100%;
height: 100%;
}
/*======= End_talent_team=======*/
/*=== Start_amazing_features====*/

.amazing_features{
    overflow: hidden;
    display: block;
    background: #F9FAFC;
    padding-bottom: 70px;
}
.container_custom{

}
.amazing_heading_area{
    max-width: 583px;
    width: 100%;
    margin: auto;
    padding-top: 58px;
    padding-bottom: 120px;
}
.amazing_heading_area h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #0F2137;
    padding-bottom: 10px;
}
.amazing_heading_area p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #0F2137;
}


.amazing_contant_area{

}

.amazing_single{
    width: 42%;
    float: left;
    margin: 4%;
}

.amazing_icon_side{
     float: left;
    width: 20%;
    margin-top: -20px;
}
.amazing_icon_side img{

}

.amazing_text_side{
    float: left;
    width: 80%;
}
.amazing_text_side h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #0F2137;
    padding-bottom: 25px;
}
.amazing_text_side p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #343D48;
}
/*===End_amazing_features====*/
/*===start_ultimate_widget====*/
.ultimate_widget{
  background: #FFF7F5;
    overflow: hidden;
    display: block;
    padding-top: 135px;
    padding-bottom: 157px;
}
.container_custom{

}

.ultimate_widget_iamge{
    float: left;
    width: 50%;
}
.ultimate_widget_iamge img{

}

.ultimate_contant{
    float: left;
    width: 50%;
}
.ultimate_contant_area{
    max-width: 511px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.ultimate_contant_area h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #0F2137;
    padding-top: 30px;
    padding-bottom: 30px;

}
.ultimate_contant_area p{
 font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
    color: #02073E;
}

.ultimate_check_area{
padding-top: 30px;
}

.ultimate_check_contant{

}
.ultimate_check_contant img{
    float: left;
    margin-right: 10px;
    overflow: hidden;
    padding-top: 12px;
}
.ultimate_check_contant p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 45px;


color: #02073E;
}

.ultimate_btn{
padding-top: 30px;
}
.ultimate_btn a{

}
.ultimate_btn a p{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 42px;
color: #4F96FF;
}
/*===start_ultimate_widget====*/

/*=== Start_pricing_policy ==*/
.pricing_policy_section{
overflow: hidden;
    padding-top: 110px;
    display: block;
}
.container_custom{}
.pricing_policy_heading{
    max-width: 583px;
    width: 100%;
    margin: auto;
}
.pricing_policy_heading h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #0F2137;
    padding-bottom: 10px;
}
.pricing_policy_heading p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #0F2137;
    padding-bottom: 53px;
}
.tab_title_area {
    max-width: 303px;
    margin: auto;
}
.tab_title_content {
    background: #F7F8FB;
    padding: 6px;
    border-radius: 8px;
}
.tab_title_content ul li {
    display: inline;
    text-align: center;
}
.tab_title_content ul {
    text-align: center;
}
.tab_title_content ul li a {
    text-align: center;
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 3px 3.8px rgba(38, 78, 118, 0.1);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.24px;
    color: #0F2137;
    padding: 11px 25px;
    border-radius: 11px;
    transition: 0.5s;
}
.tab_title_content ul li:last-child a {
  background: transparent;
  box-shadow: 0px 3px 3.8px transparent;
}

.tab_title_content ul li:last-child a:hover {
 background: #FFFFFF;
 box-shadow: 0px 3px 3.8px rgba(38, 78, 118, 0.1);
 transition: 0.5s;
}
.tab_title_content{
  position: relative;
}
.tab_title_content p {
    position: absolute;
    z-index: 2;
    top: -16px;
    right: 29px;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #36CDA4;
    border-radius: 50px;
    padding: 1px 15px;
}

/*===End_pricing_policy_heading===*/

/*===pricing_policy_left===*/
.pricing_policy_area{
overflow: hidden;
    padding-top: 50px;
    max-width: 950px;
    width: 100%;
    margin: auto;
}
.pricing_policy{
    float: left;
    width: 48%;
    margin: 1%;
    background: #FFFFFF;
    border: 2px solid #F3F4F5;
    border-radius: 10px;
    padding: 21px 40px 50px 40px;
     transition: 0.6;
}
.pricing_policy:hover{
background-color:#F7F8FB;
  transition: 0.6;
}
.pricing_policy:nth-child(2){
   border: 2px solid #25CB9E;
    border-radius: 10px;
}
.pricing_policy h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #0F2137;
    padding-top: 67px;
    padding-bottom: 7px;
}
.pricing_policy p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #343D48;
}


.pricing_check_point{
    display: inline-block;
    padding-top: 57px;
}
.pricing_check_point img{
    float: left;
    padding-right: 15px;
    padding-top: 15px;
    display: inline-block;
    overflow: hidden;
}
.pricing_check_point p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #343D48;
    padding-right: 40px;
    padding-bottom: 30px;
    overflow: hidden;

}
.start_btn{
text-align: center;
}
.start_btn a{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
    color: #EF9E48;
    background: #FCF2E8;
    display: inline-block;
    padding: 13px 52px;
    border-radius: 5px;
}

/*===pricing_policy_right===*/
.tag_btn{
background: #EF9E48;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 6px;
}
.tag_btn a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.14px;
    color: #FFFFFF;
}


.pricing_tagline{
padding-top: 18px;
}
.pricing_tagline_left{
float: left;
}
.pricing_tagline_left h4{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.55px;
    color: #0F2137;
    padding-top: 18px;
}
.pricing_tagline_left p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #343D48;
}

.pricing_tagline_right{
    float: right;
    padding-right: 30px;
    padding-top: 18px;
}
.pricing_tagline_right h3{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: #343D48;
}
.pricing_tagline_right h5{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-align: right;
    letter-spacing: -0.55px;
    color: #25CB9E;
}
/*===End_pricing_policy===*/


/*===quesiton_section===*/

.quesiton_section{
    overflow: hidden;
    padding-top: 200px;
    padding-bottom: 160px;
}
.container_custom{

}
.quesiton_heading{
    max-width: 583px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.quesiton_heading h1{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #0F2137;
    padding-bottom: 10px;
}
.quesiton_heading p{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: #0F2137;
    padding-bottom: 82px;
}

/*===start_quesiton_text_area===*/

.quesiton_text_area{
    max-width: 760px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 30px;
}
.quesiton_icon{
float: left;
    padding-right: 15px;
    display: inline-block;
    overflow: hidden;
}
.quesiton_icon img{
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.quesiton_contant{
   border-bottom: 2px solid #E5ECF4;
    padding-bottom: 20px;
}

.quesiton_contant h4{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.5px;
color: #0F2137;
}

.quesiton_contant p{
padding-top: 10px;
    display: inline-block;
    margin-left: 35px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #343D48;
}
/*===End_quesiton_text_area===*/

/*===start_about_section===*/

.about_section{
background: #F9FAFC;
    overflow: hidden;
    padding-top: 45px;
    padding-bottom: 40px;
}
.container_custom{

}

.about_contant_area{
    overflow: hidden;
    border-bottom: 2px solid #D9E0E7;
}
.about_single_contant{
    float: left;
    width: 20%;
    overflow: hidden;
    padding-bottom: 60px;
}

.about_single_contant h2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #0F2137;
    padding-bottom: 28px;
}
.about_single_contant a{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 250%;
    color: #02073E;
    opacity: 0.8;
    display: block;
}


/*===End_about_section===*/


/*footer-section start*/


.footer_section{
    background: #F9FAFC;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 40px;
}
.container_custom{

}
.footer_left{
float: left;
}
.footer_left a{

}

.footer_left a img {
float: left;
}

.footer_left p{
float: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0F2137;
    opacity: 0.6;
    padding-left: 10px;
    padding-top: 10px;
}
.footer_right{

float: right;
}
.footer_right ul{

}
.footer_right ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer_right ul li a{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    text-align: right;
    color: #02073E;
}

/*footer-section end*/
